.cache/
.config/
.gnupg/
.vscode-server/
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.wget-hsts
.viminfo
pintos-anon/src/tests/userprog/args-none.output
pintos-anon/src/tests/userprog/args-none.errors
pintos-anon/src/utils/qemu
pintos-anon/src/utils/qemu
pintos-anon/src/utils/qemu
pintos-anon/src/utils/filesys.dsk
pintos-anon/src/utils/qemu
